<div class="container">
    <h2>App-child-5</h2>
    <span class="counter">doCheck: {{ counter }}</span>
    <div class="text" (scroll)="null">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis veniam deserunt rem in similique dignissimos fugiat. Minima quod blanditiis qui iure totam adipisci recusandae maiores, impedit ad aliquam provident suscipit!
            Dolorem animi blanditiis iure cum nam. Est labore neque repellendus quibusdam quas dignissimos qui id cum ex mollitia nam dolorum, quasi excepturi temporibus facilis rem ad tempora amet quidem. Praesentium!
            Incidunt, ipsa nobis atque aspernatur eveniet aut tenetur sit maiores accusantium nam voluptate aperiam enim perspiciatis possimus odio numquam exercitationem quae facere nesciunt dolores qui dolor vitae est eaque. Possimus?
            Eaque excepturi autem consequuntur. Inventore, deleniti sapiente aliquid accusamus optio laboriosam exercitationem pariatur, quam ad veniam sequi iste asperiores in numquam, minus saepe ut quia animi necessitatibus expedita hic maxime!
            Quia soluta eum aut modi dignissimos blanditiis, nulla minus, repudiandae ab nesciunt nisi dolore eligendi maxime consequuntur rem officiis id ea? Corrupti et velit vero quia, dolor aliquid ab possimus!
        </p>
    </div>
</div>