.container{
  margin-top: 2em;
  background: lightcoral;
}
.children{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 6em 5em;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-input{
  margin-top: 0.5em;
}
svg{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}